$font: 'Mulish', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Noto Sans",Ubuntu,"Droid Sans","Helvetica Neue",sans-serif;
$font-size: 13px;
@use 'vuetify/lib/styles/main.sass' with (
  $color-pack: true,
  $body-font-family: $font,
  // $font-size-root: $font-size
);

.text-tiny {
  font-size: 0.55rem !important;
}

.v-field {
  font-size: 0.9rem !important;
}